body {
    font-family: 'Segoe UI', sans-serif;
  }
  h1 {
    font-weight: 600;
  }
  .card {
    border-radius: 0.5rem;
  }
  footer {
    font-size: 0.9rem;
    color: #666;
  }
  

  .card.bg-warning {
    background-color: #f0ad4e !important;
  }
  .card.bg-info {
    background-color: #5bc0de !important;
  }